body{
    font:15px Arial,Helvetica;
    padding:0;
    margin:0;
    background-color: beige;
}

.contenedor{
    width:80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

header{
    background-color: #24282b;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 5px solid #1293d4;
}

header a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header li{
    float:left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #marca{
    float: left;
}

header #marca h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}
header.resaltado,header.actual a{
    color:#1293d4;
    font-weight: bold;
}

header a:hover{
    color: #ccc;
    font-weight: bold;
}

.tabla_usuarios{
    text-align: center;
    border: 1px solid black;
}

#cabecera{
    min-height: 400px;
    background: url('../IMG/pelis.png') 100%;
    text-align:center;
    color: black;
}

td {
	border: 1px solid black;
}